* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

.test {
  border: 1px solid lime; }

.flex-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .flex-wrapper .frame {
    margin: 1rem;
    padding: .4rem; }
